<table>
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Created At</th>
    </thead>
    <tbody>
        <tr *ngFor="let signup of signups">

            <td>{{signup.id}}</td>
            <td>{{signup.name}}</td>
            <td>{{signup.creationDate}}</td>
            <td>
                <button (click)="delete(signup.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
<div>
    <label>
        Name:
        <input type="text" [formControl]="name">
    </label>

    <p>
        <button (click)="create()">Update Name</button>
    </p>
</div>