<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 col-12">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Profile</mat-card-title>
        </mat-card-header>
        <mat-card-content *ngIf="!loaded">
          <h2>Loading...</h2>
        </mat-card-content>
        <mat-card-content *ngIf="loaded">
          <mat-tab-group>
            <mat-tab label="Events">
              <app-events></app-events>
            </mat-tab>
            <mat-tab label="Info" class="row">
              <profile-name [firstName]="profile.firstName" (firstNameChange)="updateFirstName($event)" [lastName]="profile.lastName" (lastNameChange)="updateLastName($event)"></profile-name>
              <hr />
              <profile-address [address]="profile.address" (addressChange)="updateAddress($event)"></profile-address>
              <hr />
              <profile-phone [phone]="profile.phone" (phoneChange)="updatePhone($event)"></profile-phone>
            </mat-tab>
          </mat-tab-group>
        </mat-card-content>
        <mat-card-actions class="text-right">
          <button mat-raised-button (click)="updateProfile()">Update</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>