<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 col-12">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title">Profile</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="row">
              <mat-form-field class="col-12">
                <input formControlName="street" matInput placeholder="Street">
              </mat-form-field>
              <mat-form-field class="col-12">
                <input formControlName="city" matInput placeholder="City">
              </mat-form-field>
              <mat-form-field class="col-12">
                <input formControlName="state" matInput placeholder="State or Province">
              </mat-form-field>
              <mat-form-field class="col-12">
                <input formControlName="zip" matInput placeholder="Postal Code">
              </mat-form-field>
              <mat-form-field class="col-12">
                <input formControlName="country" matInput placeholder="Country">
              </mat-form-field>
            </div>
            <button mat-raised-button type="submit" class="btn btn-danger pull-right">Update Profile</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>