<div class="row" *ngIf="loaded && !updating">
  <div class="col-12">
    <hotel-image [url]="imageUrl" [hotelId]="hotelId" (imageUrlChange)="updateImageUrl($event)"></hotel-image>
    <hotel-name [name]="name" (nameChange)="updateName($event)"></hotel-name>
    <hotel-phone [phone]="phone" (phoneChange)="updatePhone($event)"></hotel-phone>
    <hotel-address [address]="address" (addressChange)="updateAddress($event)"></hotel-address>

  </div>
  <div class="col-12">
    <button mat-button mat-raised-button (click)="updateHotel()">Update</button>
  </div>
</div>
<div class="row justify-content-center" *ngIf="!loaded">
  <div class="col">
    <h1>LOADING...</h1>
  </div>
</div>
<div class="row justify-content-center" *ngIf="updating">
  <div class="col">
    <h1>UPDATING...</h1>
  </div>
</div>
