<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 col-12">
      <div class="row">
        <h1 class="col-12">Login</h1>
      </div>
      <div class="row justify-content-center">
        <div class="col-12">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
              <input matInput placeholder="Email" formControlName="email" required>
              <mat-error>
                Please provide a valid email address
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="password" placeholder="Password" formControlName="password" required>
              <mat-error>
                Password Empty
              </mat-error>
            </mat-form-field>
            <div class="text-center pt-5">
              <button mat-raised-button color="primary">Login</button>
            </div>
          </form>
        </div>
      </div>
      <div class="row justify-content-center pt-5">
        <div class="col-12">
          <p class="text-center">No account yet? <a href="/register">Register Here</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
