<h1 mat-dialog-title>{{data.rsvp.title}}</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>How many people?</mat-label>
    <input matInput type="number" required [(ngModel)]="data.rsvp.numberOfPeople">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button *ngIf="!data.rsvp.attending" mat-button (click)="onNoClick()">Nevermind</button>
  <button mat-raised-button mat-button (click)="onYesClick()" cdkFocusInitial>Let's Go</button>
  <button mat-raised-button *ngIf="data.rsvp.attending" mat-button (click)="onNoClick()">Cancel</button>
</div>
