<div class="container">
  <div class="row justify-content-between" *ngIf="loaded">
    <div class="col">

      <h2>{{title}}</h2>
      <h4>{{when | date:'MMMM dd h:mm a'}}</h4>
      <address>
        {{address.street}}<br />
        {{address.city}}, {{address.state}} {{address.zip}}
      </address>
      <p>
        <strong>About:</strong><br />
        {{summary}}
      </p>
    </div>
    <div class="col" *ngIf="loaded">
      <mat-slide-toggle [checked]="attending" (change)="updateCheckbox($event)">Going</mat-slide-toggle>
      <div class *ngIf="attending">
        <mat-form-field appearance="fill">
          <mat-label>How many people?</mat-label>
          <input matInput type="number">
        </mat-form-field>
      </div>
    </div>

    <div class="row justify-content-center" *ngIf="!loaded">
      <div class="col">
        <h1>LOADING...</h1>
      </div>
    </div>
  </div>
</div>