<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-between align-items-start pb-3">
      <button mat-raised-button routerLink="/events">
        <i class="material-icons">arrow_back</i>Back
      </button>
      <div *ngIf="rsvp">
        <div class="d-flex align-items-center justify-content-end mb-3">
          <button mat-raised-button (click)="signUp()">
            {{rsvp.attending ? 'Change Reservation' : 'Sign Up'}}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="event">
    <div class="col-5">
      <div class="d-flex flex-column h-100">
        <event-header [evt]="event"></event-header>
        <payment *ngIf="rsvp" [rsvp]="rsvp" [evt]="event" (showMessage)="showMessage($event)"></payment>
      </div>
    </div>
    <div class="col-7">
      <img *ngIf="event.imageUrl" class="w-100" src="{{event.imageUrl}}">
    </div>
  </div>
  <div class="row" *ngIf="event">
    <div class="col-12" *ngIf="event.summary">
      <h5>
        <strong>About:</strong>
      </h5>
      <p [innerHtml]="event.summary"></p>
    </div>
  </div>
  <div class="row justify-content-center" *ngIf="!(event)">
    <div class="col">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</div>
