<h1 class="header">Create an account</h1>
<div class="container">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="formGroup">
        <mat-vertical-stepper #linearVerticalStepper="matVerticalStepper" formArrayName="formArray" [linear]="true">
          <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
            <ng-template matStepLabel>Fill out your name</ng-template>
            <mat-form-field>
              <mat-label>First name</mat-label>
              <input matInput formControlName="firstNameFormCtrl" required>
              <mat-error>This field is required</mat-error>
            </mat-form-field>
      
            <mat-form-field>
              <mat-label>Last name</mat-label>
              <input matInput formControlName="lastNameFormCtrl" required>
              <mat-error>This field is required</mat-error>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </mat-step>
      
          <mat-step formGroupName="1" [stepControl]="formArray?.get([1])">
            <ng-template matStepLabel>
              <div>Fill out your email address</div>
            </ng-template>
            <mat-form-field>
              <mat-label>Email address</mat-label>
              <input matInput formControlName="emailFormCtrl">
              <mat-error>The input is invalid.</mat-error>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </mat-step>
      
          <mat-step>
            <ng-template matStepLabel>Confirm your information</ng-template>
            Everything seems correct.
            <div>
              <button mat-button (click)="completeRegistration()">Done</button>
              <button type="button" mat-button (click)="linearVerticalStepper.reset()">Reset</button>
            </div>
          </mat-step>
        </mat-vertical-stepper>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <p>Already have an account? <a href="/login">Login</a></p>
    </div>
  </div>
</div>