<h1 class="text-center">Create an account</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 col-12">
      <mat-vertical-stepper [linear]="true" #stepper>
        <mat-step [stepControl]="loginFormGroup">
          <form [formGroup]="loginFormGroup">
            <ng-template matStepLabel>Create a Login</ng-template>
            <div>
              <mat-form-field appearance="legacy">
                <mat-label>Email Address:</mat-label>
                <input matInput type="email" formControlName="emailFormCtrl" placeholder="Your email">
                <mat-icon matSuffix>mail_outline</mat-icon>
                <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>
              </mat-form-field>
            </div>
            <div class="py-3">
              <mat-form-field appearance="legacy">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="passwordFormCtrl" placeholder="Your Password">
                <mat-icon matSuffix>lock</mat-icon>
                <mat-error>Minimum of 6 characters</mat-error>
              </mat-form-field>
            </div>
            <div class="py-3">
              <mat-form-field appearance="legacy">
                <mat-label>Confirm Password</mat-label>
                <input matInput type="password" formControlName="confirmPasswordFormCtrl" placeholder="Confirm Password">
                <mat-icon matSuffix>lock</mat-icon>
                <mat-error>Passwords don't match</mat-error>
              </mat-form-field>
            </div>
            <div class="pt-3 d-flex justify-content-center">
              <button [disabled]="loginFormGroup.pristine || loginFormGroup.invalid" mat-button mat-raised-button (click)="createAccount(stepper)">Create
                Login</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="nameFormGroup">
          <form [formGroup]="nameFormGroup">
            <ng-template matStepLabel>Fill out your name</ng-template>
            <div>
              <mat-form-field>
                <mat-label>First name</mat-label>
                <input matInput formControlName="firstNameFormCtrl" required>
                <mat-error>This field is required</mat-error>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <mat-label>Last name</mat-label>
                <input matInput formControlName="lastNameFormCtrl" required>
                <mat-error>This field is required</mat-error>
              </mat-form-field>
            </div>
            <div class="pt-3 d-flex justify-content-between">
              <button [disabled]="nameFormGroup.pristine || nameFormGroup.invalid" mat-button mat-raised-button (click)="createUserDocument(stepper)">Save
                Name</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="addressFormGroup">
          <form [formGroup]="addressFormGroup">
            <ng-template matStepLabel>Fill out your address</ng-template>
            <mat-form-field>
              <mat-label>Street</mat-label>
              <input formControlName="streetFormCtrl" matInput placeholder="Street">
            </mat-form-field>
            <mat-form-field>
              <mat-label>City</mat-label>
              <input formControlName="cityFormCtrl" matInput placeholder="City">
            </mat-form-field>
            <mat-form-field>
              <mat-label>State/Province</mat-label>
              <input formControlName="stateFormCtrl" matInput placeholder="State/Province">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Postal Code</mat-label>
              <input formControlName="postalCodeFormCtrl" matInput placeholder="Postal Code">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Country</mat-label>
              <input formControlName="countryFormCtrl" matInput placeholder="Country">
            </mat-form-field>
            <div class="pt-3 d-flex justify-content-between">
              <button [disabled]="addressFormGroup.pristine || addressFormGroup.invalid" mat-button mat-raised-button matStepperNext>
                Save Address
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="phoneFormGroup">
          <form [formGroup]="phoneFormGroup">
            <ng-template matStepLabel>Fill out your phone number</ng-template>
            <mat-form-field>
              <mat-label>Phone</mat-label>
              <input matInput formControlName="phoneFormCtrl" placeholder="Phone">
            </mat-form-field>
            <div class="pt-3 d-flex justify-content-between">
              <button [disabled]="phoneFormGroup.pristine || phoneFormGroup.invalid" mat-button mat-raised-button matStepperNext>
                Save Phone
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="branchFormGroup">
          <form [formGroup]="branchFormGroup">
            <ng-template matStepLabel>Family Branch</ng-template>
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input matInput formControlName="branchFormCtrl" placeholder="Paul Tafel">
            </mat-form-field>
            <div class="pt-3 d-flex justify-content-between">
              <button [disabled]="branchFormGroup.pristine || branchFormGroup.invalid" mat-button mat-raised-button (click)="saveProfile()">
                Save Phone
              </button>
            </div>
          </form>
        </mat-step>
      </mat-vertical-stepper>
    </div>
  </div>

  <div class="row justify-content-center pt-4">
    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 col-12">
      <p class="text-center">Already have an account? <a href="/login">Login</a></p>
    </div>
  </div>
</div>
