<div class="row">
  <div class="col-12">
    <button mat-raised-button routerLink="/admin/events">
      <i class="material-icons">arrow_back</i>Back
    </button>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-12">
    <div class="row">
      <add-event-title class="col-md-6 col-12" (titleChange)="updateTitle($event)"></add-event-title>
      <!-- <add-event-price class="col-md-6 col-12" (priceChange)="updatePricePerPerson($event)"></add-event-price> -->
      <!-- <add-event-when class="col-lg-6 col-sm-6 col-12" (whenChange)="updateWhen($event)"></add-event-when> -->
      <!-- <add-event-signup-open-till class="col-lg-6 col-sm-6 col-12" (signupOpenTillChange)="updateSignupOpenTill($event)"></add-event-signup-open-till> -->
      <!-- <add-event-address class="col-12" (addressChange)="updateAddress($event)"></add-event-address> -->
    </div>
  </div>
  <!-- <add-event-image class="col-lg-6 col-12" (imageUrlChange)="updateImageUrl($event)"></add-event-image> -->
  <!-- <add-event-summary class="col-12" (summaryChange)="updateSummary($event)"></add-event-summary> -->
  <div class="col-12 py-5 text-right">
    <button mat-button mat-raised-button (click)="updateEvent()">Update</button>
  </div>
</div>
