<div class="container-fluid" *ngIf="events$">
  <div class="row  justify-content-center">
    <div class="col-12 col-sm-6 col-md-4 py-3" *ngFor="let event of events$ | async">
      <mat-card [class.mat-elevation-z6]="true">
        <mat-card-header>
          <mat-card-title>{{event.title}}</mat-card-title>
        </mat-card-header>
        <img *ngIf="event.imageUrl" mat-card-image src="{{event.imageUrl}}" alt="{{event.title}}">
        <mat-card-actions>
          <button mat-raised-button mat-button [routerLink]="['/admin/events', event.id]">Edit Event</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
