<div class="container">
  <nav class="row pb-3">
    <button class="col" mat-button mat-raised-button routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Dashboard</button>
    <button class="col" mat-button mat-raised-button routerLink="./hotels" routerLinkActive="active">Manage Hotels</button>
    <button class="col" mat-button mat-raised-button routerLink="./events" routerLinkActive="active">Manage Events</button>
  </nav>
  <router-outlet></router-outlet>
</div>
