<div class="container-fluid pt-3">
  <div class="row">
    <mat-form-field class="col-12">
      <mat-label>Street</mat-label>
      <input [(ngModel)]="address.street" matInput>
    </mat-form-field>
    <mat-form-field class="col-12">
      <mat-label>City</mat-label>
      <input [(ngModel)]="address.city" matInput>
      <mat-error>This field is required</mat-error>
    </mat-form-field>
    <mat-form-field class="col-12">
      <mat-label>State/Province</mat-label>
      <input [(ngModel)]="address.state" matInput>
      <mat-error>This field is required</mat-error>
    </mat-form-field>
    <mat-form-field class="col-12">
      <mat-label>Postal Code</mat-label>
      <input [(ngModel)]="address.zip" matInput>
      <mat-error>This field is required</mat-error>
    </mat-form-field>
    <mat-form-field class="col-12">
      <mat-label>Country</mat-label>
      <input [(ngModel)]="address.country" matInput>
      <mat-error>This field is required</mat-error>
    </mat-form-field>
  </div>
</div>
