<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center">Events</h2>
    </div>
  </div>
  <div class="row align-items-center" *ngIf="rsvps">
    <div class="col-lg-6 col-12 py-3" *ngFor="let rsvp of rsvps">
      <mat-card [class.mat-elevation-z6]="true">
        <img mat-card-image src="{{rsvp.imageUrl}}">
        <mat-card-content>
          <div class="d-flex w-100 justify-content-between align-items-center">
            <h4>{{rsvp.title}}</h4>
            <span>{{rsvp.attending ? 'Going' : 'Not Going'}}</span>
          </div>
        </mat-card-content>
        <mat-card-actions class="text-center">
          <button mat-raised-button [routerLink]="['/events', rsvp.eventId]">Change Reservation</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
