<mat-card>
  <mat-card-title>TOTAL</mat-card-title>
  <mat-card-content>
    <div class="d-flex justify-content-between">
      <span>{{this.numberOfPeople}} Tafels</span><span class="mx-3">X</span><span>{{this.pricePerPerson | currency}}</span>
    </div>
    <hr />
    <div class="d-flex justify-content-end">
      <span>{{this.numberOfPeople * this.pricePerPerson | currency}}</span>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="payHere()">
      <mat-icon>payment</mat-icon>
      <span class="ml-2">Pay Here</span>
    </button>
  </mat-card-actions>
</mat-card>
