<mat-card [class.mat-elevation-z6]="true">
  <mat-card-header>
    <mat-card-title>Exciting Events Planned Including:</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let event of events">
        <div class="home-event" [innerHtml]="sanitize(event.html)">
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions class="text-center my-4">
    <button mat-raised-button *ngIf="!(loggedIn$ | async)" routerLink="/register">Click Here to Register</button>
    <button mat-raised-button *ngIf="loggedIn$ | async" routerLink="/events">Click Here to Sign-up for events</button>
  </mat-card-actions>
</mat-card>
