<div class="container-fluid" *ngIf="hotels$">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-xl-4 py-3" *ngFor="let hotel of hotels$ | async">
      <mat-card [class.mat-elevation-z6]="true">
        <mat-card-header>
          <mat-card-title>{{hotel.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{hotel.imageUrl}}" alt="{{hotel.name}}">
        <mat-card-content>
          <div class="d-flex justify-content-between align-items-stretch">
            <address class="my-0">
              {{hotel.address.street}}<br />
              {{hotel.address.city}}, {{hotel.address.state}} {{hotel.address.zip}}<br />
              <a href="tel:{{hotel.phone}}">{{getPhoneNumberFormatted(hotel.phone)}}</a>
            </address>
            <div>
              <button mat-raised-button (click)="goToHotelBooking(hotel.bookingUrl)">
                <mat-icon>local_hotel</mat-icon>
                <span class="ml-2">Book Hotel</span>
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-12 py-3">
      <div class="d-flex justify-content-center">
        <mat-card>
          <mat-card-content>
            <h5 class="text-uppercase">**You can cancel Hotel with 48-hour notice**</h5>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
