<form class="row">
  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let event of events">
      <mat-form-field appearance="legacy">
        <span matPrefix>I&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <mat-select required>
          <mat-option value="true">Will be</mat-option>
          <mat-option value="false">Will not be</mat-option>
        </mat-select>
        <span matSuffix>attending the {{event.title}}</span>
      </mat-form-field>
    </mat-list-item>
  </mat-list>
</form>
