.mat-card {
  .mat-card-content {
    .mat-list {
      .mat-list-item {
        height: auto;

        .mat-line {
          white-space: normal;
          margin: 8px 0;
        }
      }
    }
  }
}
